@using PagedList.Mvc;
@using PagedList;
@using ThueXeToanCau.Models;
@{
    ViewBag.Title = "Bảng Giá Xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";    
}

<h2>@ViewBag.Title</h2>
<button type="button" class="btn btn-primary" onclick="openCarPrice(0)">Thêm Mới</button><br /><br />
<table class="table marginBottom0">
    <tr><th>Loại Xe</th><th>Giá/1Km khứ hồi (Đồng)</th><th>Nhân Ngày Lễ</th><th>Nhân Một Chiều</th><th></th><th></th></tr>
    @foreach (var item in (PagedList<car_price>)ViewBag.OnePage)
    {
        <tr>
            <td>@item.car_size chỗ</td><td>@item.price</td><td>@item.multiple</td><td>@item.multiple2</td>
            <td><a href="#" onclick="openCarPrice(@item.ID, @item.car_size, @item.price, @item.multiple, @item.multiple2)">Sửa</a></td>
            <td><a href="#" onclick="confirmDelCarPrice(@item.ID, '@(item.car_size.ToString() + " chỗ")')">Xóa</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }))

<div id="carPriceDialog" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Thêm/Sửa Giá</div>
    <div class="dDialogContent">
        <input type="hidden" id="cp_ID" />
        <p>Loại Xe</p>
        <select id="cp_car_type" class="form-control"><option value="5">5 chỗ</option><option value="8">8 chỗ</option><option value="16">16 chỗ</option><option value="30">30 chỗ</option><option value="45">45 chỗ</option></select>
        <p>Giá/1Km khứ hồi (Đồng)</p>
        <input id="cp_Price" type="number" class="form-control" placeholder="Nhập giá">
        @*<th>Giá Khác</th><td>@item.price2</td>, @(item.price2 == null ? 5000 : item.price2)
        <p>Giá Khác</p>
        <input id="cp_Price2" type="number" class="form-control" placeholder="Nhập giá khác">*@
        <p>Nhân Ngày Lễ</p>
        <input id="cp_Multiple" type="number" class="form-control" placeholder="Nhập tỷ số nhân khi đặt xe ngày lễ">
        <p>Nhân Một Chiều</p>
        <input id="cp_Multiple2" type="number" class="form-control" placeholder="Nhập tỷ số nhân khi đặt xe một chiều">        
        <div class="divBtn">
            <button type="button" class="btn btn-primary" onclick="saveCarPrice()">Đồng Ý</button>
            <button type="button" class="btn btn-primary" onclick="closeDDialog('#carPriceDialog')">Hủy</button>
        </div>
    </div>    
</div>

<script type="text/javascript">
    var url_addUpdateCarPrice = '@Url.Action("addUpdateCarPrice","CarPrice")', url_deleteCarPrice = '@Url.Action("deleteCarPrice","CarPrice")';
</script>
<script type="text/javascript" src="~/Scripts/carPrice.js"></script>
