@using PagedList.Mvc;
@using PagedList;
@using ThueXeToanCau.Models;
@{
    ViewBag.Title = "Quản Lý Tài Xế";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<button type="button" class="btn btn-primary" onclick="openDriver(0)">Thêm Mới</button><br /><br />
<table class="table marginBottom0">
    <tr> 
        <th>Tên Tài Xế</th> <th>Số điện thoại</th> <th>CMND</th> <th>Số bằng lái xe</th> <th>Địa chỉ</th> <th>Biển số</th> 
        <th>Hãng xe</th> <th>Tên xe</th> <th>Số chỗ</th> <th>Loại xe</th> <th>Năm sản xuất</th> <th></th><th></th> 
    </tr>
    @foreach (var item in (PagedList<driver>)ViewBag.OnePage)
    {
        <tr>
            <td>@item.name</td><td>@item.phone</td><td>@item.card_identify</td><td>@item.license</td><td>@item.address</td><td>@item.car_number</td>
            <td>@item.car_made</td><td>@item.car_model</td><td>@item.car_size chỗ</td><td>@item.car_type</td><td>@item.car_years</td>
            <td><a href="#" onclick="openDriver(@item.id, '@item.name','@item.phone', '@item.card_identify', '@item.license', '@item.address',
                   '@item.car_number', '@item.car_made', '@item.car_model', @item.car_size, '@item.car_type', @item.car_years)">Sửa</a></td>
            <td><a href="#" onclick="confirmDelDriver(@item.id, '@item.name')">Xóa</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }))

<div id="driverDialog" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Thêm/Sửa Tài Xế</div>
    <div class="dDialogContent">
        <input type="hidden" id="driverId" />        
        <p>Tên tài xế</p>
        <input id="tname" type="text" class="form-control" placeholder="Nhập tên">
        <p>Số điện thoại</p>
        <input id="tphone" type="number" class="form-control" placeholder="Nhập số điện thoại">
        <p>Mật Khẩu Mới</p>
        <input id="tPass" type="password" class="form-control" placeholder="Nhập mật khẩu">
        <p>Xác Nhận Mật Khẩu</p>
        <input id="tPassConfirm" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
        <p>Chứng Minh Nhân Dân</p>
        <input id="tCMND" type="text" class="form-control" placeholder="Nhập chứng minh nhân dân">
        <p>Số bằng lái xe</p>
        <input id="tLicense" type="text" class="form-control" placeholder="Nhập số bằng lái xe">
        <p>Địa chỉ (thường trú hoặc hay đón khách)</p>
        <input id="address" class="form-control" placeholder="Nhập địa chỉ chính xác" autocomplete="off">
        <p>Biển số</p>
        <input id="car_number" type="text" class="form-control" placeholder="Nhập biển số">
        <p>Hãng xe</p>
        <select id="car" class="form-control">
            @{
                foreach (var item in (List<string>)ViewBag.cars)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
        <p>Tên xe (model)</p>
        <input id="car_model" class="form-control" placeholder="Vios hay Fotuner hay Mazda, Morning..." onkeyup="autosearchmodel();" autocomplete="off">
        <p>Số chỗ</p>
        <select id="car_size" class="form-control"><option value="4">4 chỗ</option><option value="5">5 chỗ</option><option value="7">7 chỗ</option><option value="12">12 chỗ</option><option value="16">16 chỗ</option><option value="24">24 chỗ</option><option value="40">40 chỗ</option><option value="50">50 chỗ</option></select>
        <p>Loại xe</p>
        <select id="car_type" class="form-control">
            @{
                foreach (var item in (List<string>)ViewBag.carTypes)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
        <p>Năm sản xuất</p>
        <select id="car_year" class="form-control"><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2009">Trước 2009</option></select>          
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="saveDriver()">Đồng Ý</button>
        <button type="button" class="btn btn-primary" onclick="closeDDialog('#driverDialog')">Hủy</button>
    </div>
</div>

<script type="text/javascript">
    var url_addUpdateDriver = '@Url.Action("addUpdateDriver", "Driver")', url_deleteDriver = '@Url.Action("deleteDriver", "Driver")';
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
<script src="~/Content/Theme/1a/js/jquery.geocomplete.js"></script>
<script type="text/javascript" src="~/Scripts/manageDriver.js"></script>

