@{
    ViewBag.Title = "Đăng Ký Tài Xế";
}

<div class="col-sm-12 divRegister">
    <h2>ĐĂNG KÝ TÀI XẾ</h2>
    <h4>Dành cho nhà xe/tài xế có xe riêng</h4>
    <p>Tên tài xế *</p>
    <input id="tname" type="text" class="form-control" placeholder="Nhập tên">
    <p>Số điện thoại *</p>
    <input id="tphone" type="number" class="form-control" placeholder="Nhập số điện thoại">
    <p>Mật Khẩu *</p>
    <input id="tPass" type="password" class="form-control" placeholder="Nhập mật khẩu">
    <p>Xác Nhận Mật Khẩu *</p>
    <input id="tPassConfirm" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
    <p>Chứng Minh Nhân Dân *</p>
    <input id="tCMND" type="text" class="form-control" placeholder="Nhập chứng minh nhân dân">
    <p>Số bằng lái xe *</p>
    <input id="tLicense" type="text" class="form-control" placeholder="Nhập số bằng lái xe">
    <p>Địa chỉ (thường trú hoặc hay đón khách) *</p>
    <input id="address" class="form-control" placeholder="Nhập địa chỉ chính xác" autocomplete="off">    
    <p>Biển số *</p>
    <input id="car_number" type="text" class="form-control" placeholder="Nhập biển số">
    <p>Hãng xe *</p>
    <select id="car" class="form-control">
        @{
            foreach (var item in (List<string>)ViewBag.cars)
            {
                <option value="@item">@item</option>
            }
        }        
    </select>
    <p>Tên xe (model) *</p>
    <input id="car_model" class="form-control" placeholder="Vios hay Fotuner hay Mazda, Morning..." onkeyup="autosearchmodel();" autocomplete="off">
    <p>Số chỗ *</p>
    <select id="car_size" class="form-control"><option value="4">4 chỗ</option><option value="5">5 chỗ</option><option value="7">7 chỗ</option><option value="12">12 chỗ</option><option value="16">16 chỗ</option><option value="24">24 chỗ</option><option value="40">40 chỗ</option><option value="50">50 chỗ</option></select>
    <p>Loại xe *</p>
    <select id="car_type" class="form-control">
        @{
            foreach (var item in (List<string>)ViewBag.carTypes)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
    <p>Năm sản xuất *</p>
    @*<input id="car_year" type="text" class="form-control" placeholder="Nhập năm sản xuất: 2016, 2015, ...">*@
    <select id="car_year" class="form-control"><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2009">Trước 2009</option></select>  
    <button id="btnRegisDriver" class="btn btn-primary btn-block" onclick="registerDriver();">ĐĂNG KÝ XE</button>
</div>
<script type="text/javascript">
    var url_addUpdateDriver = '@Url.Action("addUpdateDriver", "Home")';
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
<script src="~/Content/Theme/1a/js/jquery.geocomplete.js"></script>
<script type="text/javascript" src="~/Scripts/driver.js"></script>